body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: #f4e5f8; */
    background-image: url(/images/body.png);
    background-size:inherit;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header {
    color: rgb(232, 30, 232);
    font-size: 1.5rem;
}

#gameContainer {
    position: relative;
    width: 1000px;
    height: 500px;
    display: none;
}


#canvas {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}


#background {
    position: absolute;
    left: 0;
    top: 0;
    width: 1000px; 
    height: 600px;
    background-image: url("../images/sky.png");
    background-size: cover;

}


#startScreen {
    display: none;
    position: relative;
    top: 0;
    left: 0;
    width: 1000px;
    height: 600px;
    /* background: rgba(0, 0, 0, 0.8); */
    background-image: url("../images/start.png");
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10; /* Ensure it is above the game canvas */
    text-align: center;
}


#startScreen h1 {
    font-size: 3em;
    margin-bottom: 1em;
}

#startScreen p {
    font-size: 1.5rem;
    margin-bottom: 4em;
}

#startButton {
    padding: 1em 2em;
    font-size: 2rem; 
    background-image: url("../images/button.png");
    background-size:cover;
    /* border: none; */
    cursor: pointer;
    border-radius: 5px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#startButton:hover {
    background-image: url("../images/buttonH.png");;
}

#controls {
    color:white;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-size: 1.5rem;

}

#countdownOverlay{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#display {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    gap: 800px;
    right: 0;
    top: 0;
    padding: 1rem;
    z-index: 10;
    color: rgb(232, 30, 232);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: none;
}

